div {
    text-align: center; 
    font-size: 80px;
    margin-top: 150px;


}

a {

    padding: 20px;
    margin: 10px;
    color: orangered;
    text-decoration: none;
    border: solid 3px orangered;
    border-radius: 5px;
}
    .orange {
        background-color: orange;
    }
